* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Verdana', sans-serif;
}

.star {
    height: 80px;
    width: 120px;
}

.youWonH1 {
    color: white;
    position: absolute;
    top: 40vh;
    left: 30vw;
    right: 30vw;
    width: 40vw;
    height: 20vh;
    display: none;
    z-index: 9999;
    border-radius: 12px;
    animation: shake 1.5s ease-in forwards infinite;
}

.youLostH1 {
    color: white;
    position: absolute;
    top: 40vh;
    left: 30vw;
    right: 30vw;
    width: 40vw;
    height: 20vh;
    display: none;
    z-index: 9999;
    border-radius: 12px;
    animation: shake 1.5s ease-in forwards infinite;
}

.youLostH1 span {
    font-size: 50px;
    color: crimson;
    font-weight: 1000;
    margin-left: 25px;
}

#correctWordSpan {
    color: #538D4E;
    font-size: 35px;
    display: block;
    position: absolute;
    top: 50vh;
    left: 30vw;
    right: 30vw;
    font-weight: 1000;
    animation: shake 1.5s ease-in forwards infinite;
}

@keyframes shake {
    50% {transform: translateY(21px);}
    100% {transform: translateY(-21px);}
}

body {
    background-color: #3A3A3C;
    text-align: center;
}

.header {
    width: auto;
    box-shadow: 0px 0px 3px #e0d2d2;
    padding: 12px;
    background-color: #3A3A3C;
    text-align: center;
    color: white;
}

.screensDiv {
    margin: auto;
    max-width: 230px;
    min-width: 245px;
    margin-top: 10px;
    width: 97vw;
    padding-bottom: 12px;
    border-bottom: 2px solid #708090;
}

.screenDiv {
    min-width: 40px;
    min-height: 45px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 1000;
    margin: 3px 1px;
    background-color: #3A3A3C;
    color: white;
    box-shadow: 0px 0px 1.5px white;
}

.keysDiv {
    padding-top: 12px;
    margin: auto;
    width: 100vw;
    max-width: 400px;
    padding-bottom: 12px;
}

.keysDiv button {
    border: 2px;
    color: white;
    font-size: 15px;
    background-color: slategray;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 10px;
    margin: 3px 0px;
    font-weight: 300;
    min-width: 35px;
    cursor: pointer;
}

.enter {
    height: 5.5vh;
    width: 10vw;
    min-height: 38px;
    min-width: 60px !important;
    max-width: 85px;
    max-height: 33px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.backspace {
    height: 7.2vh;
    width: 11vw;
    min-width: 40px;
    max-width: 85px;
    max-height: 33px;
    min-height: 39px;
}

.backspaceImg {
    width: 40px;
    height: 35px;
    margin-top: -8px;
    margin-left: -7px;
    fill: white;
    margin-bottom: -12px;
    pointer-events: none;
}

@media only screen and (min-width: 500px) {

    .screensDiv {
        max-width: 25vw;
        min-width: 272px;
    }

    .screenDiv {
        width: 4vw;
        height: 14vh;
        max-height: 10px;
    }

    .keysDiv {
        max-width: none;
    }

    .key {
        width: 5vw;
        height: 7.2vh;
        max-width: 53;
        font-size: 18px !important;
        font-weight: 1000;
    }

    .enter {
        height: 7.2vh;
        min-height: 7.2vh;
        font-weight: 1000;
        font-size: 18px;
    }

    .backspace {
        min-height: 7.2vh;
    }

    .star {
        width: 210px;
        height: 120px;
        margin-left: -40px;
    }
}